@model IEnumerable<IOC_Web.Models.ViewModel.ViewStudents>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var s in Model)
{
    <label>
        <b>@s.id</b>

        <b>@s.Name</b>
        <b>@s.School</b>
        <b>@s.Graduation</b>
        <b>@s.Major</b>
    </label>
}

